
/* Base size 16px */
html {
  font-size: 16px;
}

body {
  width: 100%;
}

em {
  font-weight: bold;
}

/* Navigation Bar */

nav {
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  background-color: #92D3FF;
  color: #6F797F;
  top: 0;
}

.colmar-intro {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 0 1rem 0 1.5rem;
  width: 80%;
}

.colmar-intro img {
  display: inline;
}

.colmar-intro p {
  display: inline;
}

.nav_options {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  /*align-items: center;*/
  flex-wrap: nowrap;
  flex-shrink: 0;
  margin-right: .5rem;
}

.nav_item {
  display: flex;
}

li {
  color: darkblue;
  background-color: #92D3FF;
  transition: background-color 50ms ease-in 50ms;
  display: inline-block;
  padding: .5rem .6rem;
  border-radius: 5px;
}

li a {
  color: black;
}

li:hover {
  background-color: #e0f2ff;
}

/*.button {
  background-color: #496a7f;
  padding: .6rem .6rem;
  transition: background-color 50ms ease-in 50ms;
}

.button:hover {
  background-color: #e0f2ff;
}*/
