
/* Base size 16px */
html {
  font-size: 16px;
}

body {
  width: 100%;
}

em {
  font-weight: bold;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1rem;
}

h4 {
  font-size: .9rem;
}

h5 {
  font-size: .75rem;
}

/* Navigation Bar */

header {
  position: fixed;
  width: 100%;
}

nav {
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  background-color: #92D3FF;
  color: #6F797F;
  top: 0;
}

.colmar-intro {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 0 1rem 0 1.5rem;
  width: 80%;
}

.colmar-intro img {
  display: inline;
  max-height: 45px;
  width: auto;
}

.colmar-intro h2 {
  display: inline;
}

.nav_options {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  /*align-items: center;*/
  flex-wrap: nowrap;
  flex-shrink: 0;
  margin-right: .5rem;
}

.nav_item {
  display: flex;
}

li {
  color: darkblue;
  background-color: #92D3FF;
  transition: background-color 50ms ease-in 50ms;
  display: inline-block;
  padding: .5rem .6rem;
  border-radius: 5px;
}

li a {
  color: black;
}

li:hover {
  background-color: #e0f2ff;
}

/*.button {
  background-color: #496a7f;
  padding: .6rem .6rem;
  transition: background-color 50ms ease-in 50ms;
}

.button:hover {
  background-color: #e0f2ff;
}*/

/* Jumbotron section, right under nav.  Learn something new everyday. */

.jumbotron {
  width: 100%;
  background-color: lightgray;
  padding-top: 6rem;
  flex-direction: row;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.students {
  width: 60%;
  margin: 0 2.5rem 2rem 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: flex-start;
}

.students img {
  width: 100%;
  height: auto;
}

.learn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 30%;
}

.learn h1 {
  font-weight: bold;
  margin-top: 30%;
}

.learn h3 {
  padding: 1rem 0;
}

.learn .button {
  padding: .5rem 9rem;
  border-radius: 5px;
  background-color: gray;
  color: #e0f2ff;
  flex-shrink: 0;
  transition: padding 50ms ease-in 50ms, color 50ms ease-in 50ms;
  }

.button:hover {
  background-color: #e0f2ff;
  color: #6f797f;
  }

/* Emanuel jumbo2 with campus information. */

.jumbo2 {
  background-color: lightblue;
  padding-top: 2rem;
}

.students h2 {
  margin: 2rem 0 1.5rem 0;
}

.students h4 {
  margin-bottom: 1rem;
}
